* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #926239;
}

header {
    display: block;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 42vh;
    background-image: url(../images/beach.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.welcomeTitle {
    text-transform: capitalize;
    font-size: 50px;
}

.welcomeText {
    margin: 5px 0 25px;
    font-size: 20px;
    padding: 0 10%;
}

.readMore {
    padding: 12px 20px;
    border: 1px solid #926239;
    border-radius: 10px;
    font-size: 18px;
    color: #926239;
}

.readMore:hover {
    color: #ffffff;
    background-color: #926239;
}

.contents {
    padding: 20px;
    text-align: center;
    font-size: 17px;
    line-height: 1.5;
    width: 100%;
}

.content1 {
    background-color: #926239;
    color: #fff;
}

.content3 {
    margin: 0;
    padding: 0;
}

.content3 div {
    padding: 20px;
    height: 100%;
    display: inline-block;
    width: calc((100vw - 25px)/3);
}

.content3 div:nth-child(odd) {
    background-color: #926239;
    color: #fff;
}